@model PersonalSiteMVC2.UI.Models.ContactViewModel
@{
    ViewBag.Title = "Email Confirmation";
}
<br />
<br />
<br />
<br />
<section class="page-section" id="contact">
    <div class="container">
        <h2>@ViewBag.Title</h2>

        <h3>Thank you @Model.Name!</h3>
        <p>
            I have received your email, and will respond soon. Details of your message are below:
        </p>

        <p>
            Name: @Model.Name
            <br />
            Email: @Model.Email
            <br />
            Subject: @Model.Subject
            <br />
            Message: @Model.Message
        </p>
    </div>
</section>